:root {
  /* Light mode overrides */
  --theme: rgb(254, 247, 235);               /* background */
  --entry: rgb(254, 247, 235);               /* post background */
  --primary: ;             /* primary links/buttons */
  --secondary: rgb(209,117,56);           /* less prominent accents */
  --tertiary: lightgrey;            /* bordering/padding backgrounds */
  --content: black;            /* text color */
  --hljs-bg: ;            /* code block background */
  --code-bg: rgb(254, 247, 235);            /* inline code bgcolor */
  --border: ;             /* borders */
  --content-gap: 0.5rem;
}

.list{
  background: var(--theme)
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  max-width: fit-content;
  overflow: visible;
} 

.banner-image {
  margin: auto;  
  margin-bottom: 3rem;
  border-radius: 2rem;
}

.description {
  font-size: 0.8rem;
}

.column-1 {
  width: 8rem;
}
.sub_entries {
  padding-left: 1rem;
}

.profile-img {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.post-content a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
}

.lecture-img {
  position: absolute;
  right: -12rem;
}

.menu-item {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #333333;
  color: lightgrey;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border);
  z-index: 100;
  border-radius: 0.5rem;
}

.dropdown:hover > .dropdown-content {
  display: block;
  
}
#menu .dropdown-content li {
  margin: 0;
}

.dropdown-content li a {
  display: block;
  max-width: min-content;
  max-height: min-content;
  margin: auto;
  padding: 0 1rem;
}