:root {
  /* Light mode overrides */
  --theme: rgb(254, 247, 235);               /* background */
  --entry: rgb(254, 247, 235);               /* post background */
  --primary: ;             /* primary links/buttons */
  --secondary: rgb(209,117,56);           /* less prominent accents */
  --tertiary: lightgrey;            /* bordering/padding backgrounds */
  --content: black;            /* text color */
  --hljs-bg: ;            /* code block background */
  --code-bg: rgb(254, 247, 235);            /* inline code bgcolor */
  --border: ;             /* borders */
}

.list{
  background: var(--theme)
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  overflow-x: hidden;
  max-width: fit-content;

} 

.banner-image {
  margin: auto;  
  margin-bottom: 3rem;
  border-radius: 2rem;
}

.description {
  font-size: 0.8rem;
}

.post-content a{
  color: var(--secondary);
}

.column-1 {
  width: 8rem;
}
.sub_entries {
  padding-left: 1rem;
}