:root {
  /* Light mode overrides */
  --theme: rgb(254, 247, 235);               /* background */
  --entry: rgb(254, 247, 235);               /* post background */
  --primary: ;             /* primary links/buttons */
  --secondary: ;           /* less prominent accents */
  --tertiary: ;            /* bordering/padding backgrounds */
  --content: ;            /* text color */
  --hljs-bg: ;            /* code block background */
  --code-bg: rgb(254, 247, 235);            /* inline code bgcolor */
  --border: ;             /* borders */
}

.list{
  background: var(--theme)
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  overflow-x: hidden;
  max-width: fit-content;

} 