<table>
    <thead>
    </thead>
    <tbody>
        {{ $file := .Get "file" }}
        {{ $data := index .Site.Data.lectures $file }}
        {{ range $data }}
        <tr>
            <td>
                {{- $lecture := . -}}

                {{- $linkMap := dict -}}
                {{- range $lecture.links }}
                {{- $linkMap = merge $linkMap (dict .text .url) -}}
                {{- end }}

                {{- $linkedTitle := $lecture.title -}}
                {{- range $k, $v := $linkMap }}
                {{- $linked := printf `<a href="%s">%s</a>` $v $k -}}
                {{- $linkedTitle = replace $linkedTitle $k $linked 1 -}}  
                {{- end }}

                {{- $linkedDesc := $lecture.description -}}
                {{- range $k, $v := $linkMap }}
                {{- $linked := printf `<a href="%s">%s</a>` $v $k -}}
                {{- $linkedDesc = replace $linkedDesc $k $linked 1 -}} 
                {{- end }}

                <div class="lecture">
                <p>{{ $linkedTitle | safeHTML }}</p>
                <p class="description">{{ $linkedDesc | safeHTML }}</p>
                </div>
                </div>
            </td>
        </tr>
        {{ end }}
    </tbody>
  </table>