<table>
    <thead>
    </thead>
    <tbody>
        {{ $file := .Get "file" }}
        {{ $data := index .Site.Data $file }}
        {{ range $data }}
            <tr>
                <td>{{ .year }} </td> <td>{{ range .titles }} {{ . }} <br> {{ end }}</td>
            </tr>
            {{ range .rows }}
                <tr>
                    <td></td>
                    <td>
                        {{ if .url }}
                            <strong style="color: var(--secondary);"><a href="{{ .url }}">{{ .title }}</a></strong> 
                        {{ else }}
                            {{ .title }}
                        {{ end }}
                        {{ if .description }}
                            <br>
                            <br>
                            {{ .description }}
                        {{ end }}
                    </td>
                </tr>
            {{ end }}
        {{ end }}
    </tbody>
  </table>